body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Центрируем содержимое вертикально */
  background: black;
  flex-direction: column; /* Размещаем содержимое в столбец */
}

header { 
  display: flex; 
  justify-content: center;
  background: rgba(21, 20, 23, 0);
  box-shadow: 0px 0px 10px white;
  border-radius: 45px;
  width: 800px;
  height: 50px;
  margin-top: 30px;


 }

 

.ALL_header_menu {
  display: flex;
  justify-content: space-between; /* Размещаем логотип и меню справа */
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box; /* Учитываем padding в ширине */
}

.menu-bar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-bar li {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  display: inline; /* Располагаем элементы горизонтально */
}

.menu-bar li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}

.menu-bar li:hover {
  color: black;
}

.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 1);
  transform: scale(1.2);
}

.menu-bar a {
  text-decoration: none;
}

.Logo h1 {
  font-size: 35px;
  font-family: Comic Sans MS;
  color: white;
  margin-right: 50px;
  transition: 0.5s;
}

.Logo a {
  text-decoration: none;
}

.Logo {
  display: flex; /* Используем flex для центрирования и размещения логотипа слева */
  align-items: center; /* Центрируем логотип вертикально */
  margin-bottom: 5px; /* Добавляем отступ снизу */
}

.Logo h1:hover { 
  color: #616161;
  transition: 0.2s;
 }