.Operator, .OperatorPris{
	background: rgba(13, 13, 13, 0.5);
	border-radius: 30px;
	width: 1000px;
	height: 450px;
	box-shadow: 1px 1px 10px white;

	
}

.Operator {
	margin-top: 100px;
}


.OperatorText {
	display: inline-flex;
	margin-left: 30px;

}

.OperatorText p {
	color: white;
	text-align: left;
	font-family: Arial;
	margin-top: -20px;
}

.OperatorText img {
	width: 350px;
	height: 350px;
	margin-top: -70px;
}

#OperatorTitle {
	color: white;
	font-family: Arial;
	padding-top: 15px;
	margin-left: 30px;
}

.OperatorPris  {
	margin-top: 100px;

	
}

.OperatorPris p {
	width: 900px;
}



