body {
	background: #171717;
	overflow: scroll;
}

 * {
  padding: 0;
  margin: 0;
}




.vv img {
	margin-top: 20px;
	width: 550px;
	height: 270px;
}


.vv h3 {
    margin-top: 40px;
	font-size: 40px;
	font-family: Comic Sans MS;
	color: #7376FF;
	animation: flicker 1.5s infinite alternate;

}

.vv h1 {
	margin-top: 60px;
	font-family: Comic Sans MS;
	color:  #7376FF;
	animation: flicker 1.5s infinite alternate;
}



@keyframes flicker {
   
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #E256EA,
      0 0 80px #E256EA,
      0 0 90px #E256EA,
      0 0 100px #E256EA,
      0 0 150px #E256EA;
 
  }
 
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}





.card {
	margin-top: 200px;
	width: 320px;
	height:  500px;
	background-color: #121212;
	color: white;
	border-radius: 20px;
	font-weight:  500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	display: inline-block;
	margin-left: 50px;
}

.card_img {
	margin-top: 15px;
	width: 100%;
}

.card_name {
	font-size: 18px;
	margin: 0 0 10px;
}


.card_price {
	font-size: 24px;
	margin: 0 0 30px;
}


.card_currency {
	font-size: 18px;
}

.card a {
	font-size: 17px;
	border: none; 
	cursor: pointer;
	background-color: #BC41B5;
	padding: 15px 30px;
	border-radius: 20px;
	color: inherit;
	text-transform: inherit;
	font-weight: inherit;
	text-decoration: none;
	top: 50px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	font-family: Comic Sans MS;
	transition: 0.3s;
}

.card a:hover {
	font-size: 20px;
	transition: 0.3s;
	box-shadow: 1px 1px 10px #E256EA;
}


h1 {
	font-size: 60px;
	margin-top: 140px;
	font-family: Comic Sans MS;
	color:  #7376FF;
	animation: flicker 1.5s infinite alternate;
}

h3 {
	font-family: Comic Sans MS;
	margin-top: 40px;
	font-size: 30px;
	color: #7376FF;
	text-shadow: 0px 0px 30px white;
}

a {
	font-size: 30px;
	border: none; 
	cursor: pointer;
	background-color: #cc47f5;
	padding: 15px 30px;
	border-radius: 20px;
	color: inherit;
	text-transform: inherit;
	font-weight: inherit;
	text-decoration: none;
	top: 50px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	font-family: Comic Sans MS;
	transition: 0.3s;

}

a:hover {
	transition: 0.3s;
	font-size: 37px;
}